body{
    width: 40%;
    padding-left: 35em;
    padding: auto;
    
}


div{
    font-weight: bold;
    font-family: tahoma;
    display: inline;
}

select#pays{
    background-color: rgb(171, 206, 206);
    inline-size: 578px;
}


